@use 'colors' as*;

main {
    background-color: $dc-black;
    min-height: 100px;
    color: white;
    position: relative;

    #products {
        margin: 50px 0;
    }

    .container {
        position: relative;
    }

    #products h2 {
        background-color: $dc-blue;
        width: auto;
        padding: 5px 15px;
        position: absolute;
        top: -70px;
        left: 0;

    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        row-gap: 2rem;
        margin: 0 -10px;
    }

    .prod-card {
        flex-basis: calc(100% / 6);
    }
}

#load-btn {
    text-decoration: none;
    color: white;
    background-color: $dc-blue;
    border: none;
    border-radius: 5px;
    padding: 5px 30px;
    margin: 10px auto;
    display: block;
    width: fit-content;
    text-transform: uppercase;
}