@use "colors";
@use 'generics';
@use 'utilities';
@use 'reset';
@use 'mixins';
@use 'header';
@use 'jumbotron';
@use 'main';
@use 'nav';
@use 'footer';
@use 'card';
@use 'show';
@import '~bootstrap/scss/bootstrap';